/app/bootstrap.php.cache
/var/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/var/cache/*
/var/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/web/bundles/
/web/assets/vendor/
/web/app_dev.php
/web/config.php
/phpunit.xml

*php~*


Thumbs.db
ehthumbs.db

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.log

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/*
.fuse*
